/* Global */
* {
  box-sizing: border-box; }

body {
  background: url("../images/bg-brick.png");
  background-size: 96px 96px;
  font: 700 24px/1.5 "Amatic SC", cursive;
  margin: 0;
  padding: 0;
  text-align: center; }

button,
input,
textarea {
  font-family: "Amatic SC", cursive;
  font-weight: 700; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

h1 {
  color: #fff;
  font-size: 200%;
  margin-top: 0.5em; }

/* Layout */
.container {
  display: inline-block;
  max-width: 600px;
  text-align: left;
  vertical-align: top;
  width: 87.5%; }

.sidebar {
  background: rgba(17, 17, 17, 0.5);
  display: inline-block;
  margin: 0 0 0 2em;
  max-width: 260px;
  padding: 1em;
  text-align: left;
  vertical-align: top;
  width: 87.5%; }

.form {
  background: #000;
  margin-top: 2em;
  padding: 1em; }

header {
  background: rgba(17, 17, 17, 0.5);
  padding: 0 0.5em 1em 0.5em; }

main {
  padding: 1em 0; }

/* Post */
.post {
  background: #fff;
  border: 2px solid #222;
  border-radius: 18px 28px 12px 24px;
  padding: 0.5em 1.5em;
  position: relative; }
  .post:after {
    border: 0.125em solid #000;
    border-radius: 18px 28px 12px 24px;
    bottom: 0.25em;
    content: "";
    left: 0.25em;
    position: absolute;
    right: 0.25em;
    top: 0.25em; }
  .post p:not(:last-child) {
    margin: 0 0 1em 0; }

.post:not(:last-of-type) {
  margin-bottom: 1em;
  position: relative; }

.post-title {
  font-size: 150%;
  font-weight: 700;
  margin: 0; }

.post-author {
  background: #fc8f00;
  border: 2px solid #222;
  color: #fff;
  left: -2.5%;
  padding: 0.25em;
  position: absolute;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  top: -2em;
  white-space: nowrap;
  z-index: 1; }

.post-meta {
  background: #222;
  color: #fff;
  display: inline-block;
  font-size: 80%;
  font-weight: 700;
  margin: 0;
  padding: 0 0.25em;
  text-align: right; }

/* Comment */
.comment-label {
  color: #fff;
  display: block;
  font-size: 125%;
  font-weight: 400;
  margin: 0;
  text-align: center; }

.comment-input {
  border: 2px solid #000;
  display: block;
  font-size: 100%;
  padding: 0.5em;
  width: 100%; }

.comment-button {
  background: linear-gradient(to top, #00aeef, #009bd6);
  border-radius: 0.375em;
  border: 0;
  box-shadow: 0 2px 0 #222;
  color: #fff;
  cursor: pointer;
  font-size: 125%;
  font-weight: bold;
  line-height: 2;
  margin-top: 0.5em;
  padding: 0 1.5em; }
  .comment-button:active, .comment-button:hover {
    background: #009bd6; }

/* Counter */
.sidebar.has-counter {
  margin-top: 6em; }

.counter-image {
  display: block;
  margin: -60% auto 0 auto; }

.counter-button {
  background: linear-gradient(to top, #fc0400 0%, #fe2900 49%, #ff4e00 100%);
  border-radius: 6px;
  border: 0;
  box-shadow: 0 2px 0 #222;
  color: #fff;
  cursor: pointer;
  font-size: 125%;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 0.5em;
  padding: 0 1.5em; }
  .counter-button:active, .counter-button:hover {
    background: #fc0400; }

.counter-text {
  color: #fff;
  font-size: 400%;
  line-height: 1;
  text-shadow: 1px 1px 0 #000; }

/* Thread */
.thread-meta {
  color: #666; }

/* Active */
.active-title {
  color: #fff;
  font-size: 150%;
  margin: 0;
  text-align: center; }

.active-avatar {
  background: url("../images/bg-pick.png");
  background-size: 100px 113px;
  height: 113px;
  margin-top: 1em;
  padding-top: 19px;
  position: relative;
  width: 100px; }
  .active-avatar img {
    border-radius: 50%;
    display: block;
    margin: 0 auto; }
  .active-avatar .post-author {
    left: 100%;
    right: auto;
    top: 0; }

/* Sponsor */
.sponsor-img {
  display: block;
  margin: 2em auto 0 auto; }

/* Poll */
.poll-question {
  margin-bottom: 0; }

.poll {
  margin: 0 0 2em 0; }

.poll-item {
  color: #ffffff; }

.poll-results {
  color: #ffffff;
  margin-bottom: 1em;
  width: 100%; }

.poll-results td {
  padding: 5px 0; }

.poll-id {
  width: 20px; }

.poll-answer {
  width: 150px; }

.poll-count {
  background: url('../images/bg-checkered.jpg');
  background-size: 40px 40px;
  text-align: center;
  vertical-align: middle; }

.poll-number {
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-top: 2px;
  padding-top: 1px;
  width: 30px; }

/* * Tool Classes */
/* Text Align */
.tac {
  text-align: center; }
